*{
    padding: opx;
    margin: 0px;
}
#fixed{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
   margin-top: 10px;

    height: 375px;

}

.round_img img{
    width: 39vw;
    height: 325px;
    object-fit: cover;
}
#subscription_box{
    max-width: 59vw;
    min-width: 40vw;

    margin: 100px 0px 0px 110px;

    margin: 70px 0px 0px 110px;

   
}
#subscription_box > div{
    background-color: #0073B1;

    width: 300px;
    color: white;
    text-align: center;

    width: 230px;
    color: white;
    text-align: center;
    margin: 10px 0px;

    
}
#subscription_box > h3{
    color: #0073B1;
}
#subscription_box > h1{
    color: #414141;
}